:root {
  --text-color: #fff;
  --primary-color: #5e35b1;
  --primary-accent-color: #7e57c2;
  --secondary-color: #009688;
  /* VideoTranscript */
  --active-bg-color: yellow;
  --active-text-color: black;
  --highlight-bg-color: rgba(255, 255, 0, 0.5);
  --entity-concept-bg-color: #CDECFF;
  --entity-concept-text-color: #00449E;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,400i&display=swap");
.font-mono {
  font-family: "Source Code Pro", monospace;
}

#app {
  font-family: "Avenir", "Nunito Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color) !important;
}

.b--primary-accent {
  border-color: var(--primary-accent-color);
}
.b--secondary {
  border-color: var(--secondary-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-primary-accent {
  background-color: var(--primary-accent-color);
}

.flex {
  /* set flex to initial so tachyons' .flex class works as expected, 
     uninterrupted by Vuetify's styles */
  flex: initial;
}

.theme--dark.v-label {
  color: #fff !important;
  font-weight: 700;
}
.theme--dark.v-chip--active::before {
  opacity: 0;
}
.b--grey--darken-3 {
  border-color: #424242;
}
.hover-border-color {
  border: 4px solid hsla(0, 0%, 100%, 0);
  transition: border-color 0.15s;
}
.hover-border-color:hover {
  border-color: hsla(0, 0%, 100%, 0.75);
}
.hover-opacity {
  opacity: 0;
  transition: opacity 1s;
}
.hover-opacity:hover {
  opacity: 1;
  transition: opacity 0.15s;
}
.hover-opacity-semi {
  opacity: 0.5;
  transition: opacity 1s;
}
.hover-opacity-semi:hover {
  opacity: 1;
  transition: opacity 0.15s;
}
.opaque {
  opacity: 1;
}